footer.footer.section#footer 
    .footer__container.container 
        .footer__content
            h3.footer__title our information 
            ul.footer__list 
                li VeridianTech
                li 1234 europe 
                li some street 42310
                li 123-456-789
        .footer__content 
            h3.footer__title drone blogs
            ul.footer__links 
                li: a.footer__link(href='https://droneanalyst.com/blog', target='_blank') the drone analyst 
                li: a.footer__link(href='https://www.aerotas.com/blog/', target='_blank') the aerotas blog 
                li: a.footer__link(href='https://dronelawsblog.com/', target='_blank') drone laws blog
                li: a.footer__link(href='https://www.thedronegirl.com/', target='_blank') the drone girl
        .footer__content 
            h3.footer__title trending 
            ul.footer__links 
                li: a.footer__link(href='https://www.flyingmag.com/guides/best-commercial-drone-pilot-jobs/', target='_blank') drone pilot jobs 
                li: a.footer__link(href='https://www.droneblog.com/21-ideas-for-interesting-useful-ways-to-use-your-drone/', target='_blank') ideas to use your drone 
                li: a.footer__link(href='https://blog.feedspot.com/drone_forums/', target='_blank') drone forums 
                li: a.footer__link(href='https://www.dronerush.com/best-long-range-drones-18975/', target='_blank') logn range drones 
        .footer__content 
            h3.footer__title social media
            ul.footer__social
                li: a.footer__social-link(href='https://www.facebook.com/' target='_blank')
                    svg.social__icon
                        use(xlink:href='/images/icons.svg#icon-facebook')
                li: a.footer__social-link(href='https://twitter.com/' target='_blank')
                    svg.social__icon 
                        use(xlink:href='/images/icons.svg#icon-twitter')
                li: a.footer__social-link(href='https://www.instagram.com/' target='_blank')
                    svg.social__icon 
                        use(xlink:href='/images/icons.svg#icon-instagram')
    span.footer__copy &copy; Copyright 2022 DodaDesign
        
    












