section.home#home 
    .home__container.container
        .home__img-background
            img.home__img(src='/images/backgrounds/home-bcg.jpg' alt='')
        .home__social 
            a.home__social-link(href='https://www.facebook.com/' target='_blank') facebook
            a.home__social-link(href='https://twitter.com/' target='_blank') twitter 
            a.home__social-link(href='https://www.instagram.com/' target='_blank') instagram 
        .home__data 
            h1.home__title VeridianTech 
            h3.home__subtitle exploration drones 
            p.home__description A high-quality quadcopter is a serious investment, and an easy way to add production value to a film project or get a unique view for your travel vlog.
            .home__btns 
                a.button.home__button(href='http://www.diva-portal.org/smash/get/diva2:1184476/FULLTEXT01.pdf' target='_blank') details 
                a.button.button--gray.button--small(href='#') explore