section.story.section.container#story 
    .story__container 
        .story__data 
            h2.section__title.section__title-story Our story 
            h1.story__title you can trust our reviews 
            p.story__description We've flown plenty, and these are the best drones in our tests. Since 1982, we have tested and rated thousands of products to help you make better buying decisions.
            a.button.button--small(href='/reviews') explore
        .story__images 
            img.story__img(src='/images/backgrounds/story-bcg.jpg' alt='story section background')
            .story__square