extends base

block content 
    section.error.section.contaier 
        h1.section__title Ooops!
        .error__title 
            h2.error__section-title somethig went wrong! 
        h2.error__message= message