extends base 

block content 
    section.resetpassword.section.container 
        h2.section__title #{title}
            .resetpassword__form-bcg 
                form.resetpassword__form
                    .form__control
                        label.form__label(for='password') password 
                        input.form__input#password(type='password', placeholder='........', minlenght='8' required)
                    .form__control 
                        label.form__label(for='password-confirm') confirm password
                        input.form__input#password-confirm(type='', placeholder='.........', required)
                        input#reset-token(type='hidden', value=${token})
                    .form__control 
                        button.button confirm