@use "../mixins";
@use "../variables" as *;

.footer {
    &__container {
        display: grid;
        row-gap: 2rem;
        border-bottom: 1px solid $titleClr;
        padding-bottom: 3rem;
        color: $textClrLight;

        @include mixins.breakpoint-up(small){
            grid-template-columns: repeat(2, 1fr);
        }

        @include mixins.breakpoint-up(medium) {
            grid-template-columns: repeat(4, max-content);
            justify-content: space-between;
        }

        .footer__title {
            font-size: $fontSlg;
            margin-bottom: $mb-1-5; 
            text-transform: capitalize;

            @include mixins.breakpoint-up(medium) {
                font-size: $fontMd;
            }
        }

        .footer__list,
        .footer__links {
            display: flex;
            flex-direction: column;
            row-gap: .75rem;
            text-transform: capitalize;

            .footer__link {
                color: $textClrLight;

                &:hover{
                    color: $firstClr;
                }
            }
        }

        .footer__social {
            display: flex;
            column-gap: 2rem;

            @include mixins.breakpoint-up(medium){
                flex-direction: column;
                row-gap: 1rem;
            }

            .social__icon {
                width: 30px;
                height: 30px;
                fill: $textClrLight;
                transition: transform .2s ease-in-out;

                &:hover {
                    fill: $firstClr;
                    transform: scale(1.1);
                }
            }
        }
    }

    .footer__copy {
        display: block;
        margin: 1rem 0 1rem 0;
        text-align: center;
        font-size: .75rem;
    }
}